@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* , *::before , *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
background: #5B56D3;
}
.container {
  width: 95%;
  max-width: 500px;
  background: white;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
.header {
  text-align: center;
  margin-bottom: 1.7rem;
  margin-top: 1.5rem;
  font-family: monospace;
}
.form-content {
  display: flex;
  flex-direction: column;
}
.l {
  display: block;
  width: 100%;
}
.convert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0.5rem;
  margin-top: 1rem;
}
.form-content .amount {
  margin-bottom: 0.5rem;
}
.s select {
  width: 100px;
  height: 2.5rem;
  margin: 0.5rem 0;
  outline: none;
}
.s:nth-child(3) select {
  margin-right: 0.5rem;
}
.display {
  margin-left: 0.5rem;
}
input[type=text] {
  margin: 0 0.5rem;
  height: 2.3rem;
  padding-left: 0.5rem;
  outline: none;
}
input[type=submit] {
  
  height: 2.3rem;
  margin: 1rem 0.5rem;
  background: #7370CD;
  outline: none;
  border: none;
  font-size: 0.9rem;
  text-transform: capitalize;
  color: white;
  font-weight: bolder;
  font-family: 'Noto sans';
}
label , span {
  font-family: 'Titillium Web';
}
.material-symbols-outlined {
  margin-top: 1rem;
}